{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-xl font-bold">Task List</h1>
        <a href="{{ path('app_tasks_add') }}" class="bg-blue-500 text-white py-1 px-3 rounded">
            Add Task
        </a>
    </div>

    <div class="mb-6">
        <h1 class="text-lg font-semibold mb-3">Filters</h1>
        <form method="GET" action="{{ path('app_tasks') }}" class="flex items-center gap-4">
            <select class="border rounded p-2 w-48 bg-white" name="status" id="status">
                <option value="all">All</option>
                <option value="true" {% if app.request.query.get('status') == 'true' %}selected{% endif %}>Completed</option>
                <option value="false" {% if app.request.query.get('status') == 'false' %}selected{% endif %}>Pending</option>
            </select>
            <select class="border rounded p-2 w-48 bg-white" name="user" id="user">
                <option value="">All Users</option>
                {% for user in users %}
                    <option value="{{ user.id }}" {% if app.request.query.get('user') == user.id %}selected{% endif %}>{{ user.email }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
                Filter
            </button>
        </form>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="mb-4 p-3 rounded {% if label == 'success' %}bg-green-100 text-green-800{% else %}bg-red-100 text-red-800{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}    
    
    <div class="rounded">
        {% if tasks is not empty %}
        <div class="space-y-4 p-2">
            <!-- Task items -->
            {% for task in tasks %}
                <div class="p-4 bg-white rounded bg-gray-100" id="task-{{ task.id }}">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-3">
                            <input type="checkbox" {% if task.completed %}checked{% endif %} class="w-5 h-5 rounded" data-trigger="complete-task" data-id="{{ task.id }}" data-href="{{ path('app_tasks_complete', {'id': task.id}) }}">
                            <div class="text-lg font-bold title {% if task.completed %}line-through{% endif %}">{{ task.title }}</div>
                        </div>
                        <div class="flex items-center gap-4">
                            <span class="text-sm text-gray-500">
                                {{ task.created_at| date('d M Y') }}
                            </span>
                            <a href="{{ path('app_tasks_assign', {'id': task.id}) }}" class="size-5 text-blue-500 hover:text-red-700">
                                {{ ux_icon('material-symbols:person') }} 
                            </a>
                            <a href="{{ path('app_tasks_edit', {'id': task.id}) }}" class="size-5 text-blue-500 hover:text-red-700">
                                {{ ux_icon('material-symbols:edit') }}                                
                            </a>
                            <a href="{{ path('app_tasks_delete', {'id': task.id}) }}" class="size-5 text-blue-500 hover:text-red-700" data-trigger="delete-task" data-id="{{ task.id }}">
                                {{ ux_icon('material-symbols:delete') }} 
                            </a>  
                        </div>
                    </div>
                    <div class="text-sm font-normal text-gray-500 mt-2">{{ task.description }}</div>
                    {% if task.completed %}
                        <div class="mt-2 flex gap-2">
                            <span class="px-2 py-1 bg-green-100 text-green-800 text-xs rounded-full status-badge">Completed</span>
                            {% if task.user %}
                                <span class="px-2 py-1 bg-yellow-100 text-yellow-800 text-xs rounded-full">Assigned to {{ task.user }}</span>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="mt-2 flex gap-2">
                            <span class="px-2 py-1 bg-yellow-100 text-yellow-800 text-xs rounded-full status-badge">Pending</span>
                            {% if task.user %}
                                <span class="px-2 py-1 bg-gray-100 text-gray-800 text-xs rounded-full">Assigned to {{ task.user }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <!-- End of Task items -->
        </div>
        {% else %}
            <div class="p-3">
                No tasks found. You might add one 
                <a href="{{ path('app_tasks_add') }}" class="text-blue-500">
                    here
                </a>
            </div>
        {% endif %}
    </div>    
{% endblock %}