<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="flex h-screen">
            {% if app.user and 'ROLE_USER' in app.user.roles %}
            <aside class="w-64 bg-gray-800 text-white p-4 flex-none">
                <div class="text-m font-bold h-12 flex items-center">
                    Task Management
                </div>
                <div>
                    <ul>
                        <li class="mt-4"><a href="{{ path('app_dashboard') }}">Dashboard</a></li>
                        <li class="mt-4"><a href="{{ path('app_tasks') }}">Tasks</a></li>
                        <li class="mt-4"><a href="{{ path('app_users') }}">Users</a></li>
                        <li class="mt-4"><a href="{{ path('app_logout') }}">Logout</a></li>
                    </ul>
                </div>
            </aside>
            {% endif %}
            <div class="flex-1 p-4">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
